/* onlyfor ie */
.ie7 .bannerlayer{width:605px;}
.ie7 .cartpart ul li a{line-height:none;}
.ie7 .seachbox{width:63%;margin-left:5px;}
.ie7 .search-txt{width:300px;}
.ie7 .flex-control-nav{bottom:10px;}

.ie7 .pro-image img{position:relative;top:50%;margin-top:-115px;}
.ie7 .review-box ul li{padding-left:0;padding-right:0;}
.ie7 .review-box ul li{margin-right:22px;}
.ie7 .review-box ul li+li{margin-right:0;}
.ie7 .pro-image{padding:7px 0;}
.ie7 .middle-menu{margin-top:-2px;}
.ie7 .best-seller ul li{width:18.5%;}
.ie7 .filter-section{width:540px;}
.ie7 .product-view{display:inherit;float:left;width:285px;margin:2px -10px 0 0;}
.ie7 .sortby{width:230px;float:right;display:inherit;}
.ie7 .product-view span{float:left;}
.ie7 .sortby{display:inherit;float:left;}
.ie7 .product-view a{display:inherit;}
.ie7 .sortby a{display:inherit;}
.ie7 .product-view ul{float:left;width:195px;}
.ie7 .product-view li{float:left;display:inherit;width:85px;}
.ie7 .list-view .pro-image{width:184px;margin-left:-1px;}  
.ie7 .product-add ul{margin-left:0;}
.ie7 .product-add ul li{margin-left:0;margin-right:9%;float:left;}
.ie7 .product-add ul li+li+li+li{float:right;margin:0;}
.ie7 .pagination li{display:inline;}
.ie7 .offer-content p{{width:98.3%;}
.ie7 .pagination{clear:both;padding-bottom:30px;}
.ie7 .breadcrumb li a{float:left;}
.ie7 .breadcrumb li span{display:inline;float:left;margin-top:8px;}
.ie7 span.dollar{width:55%;}
.ie7 .list-view .buynow{position:relative;left:-100px;margin:0;top:0;}
.ie7 .grid-view ul{margin:0;}
.ie7 .grid-view ul li{margin:0 14px 0 0;}
.ie7 .product-add ul{margin:0;}
.ie7 .grid-view li{margin-left:14px;}
.ie7 .customer-review + .pagination{padding-bottom:0;margin-bottom:0;}
.ie7 .container{clear:both;overflow:hidden;}
.ie7 .captch-txt{width:75%;float:right;}
.ie7 .form-txt, .ie7 .florist-form ul li textarea{width:505px;}
.ie7 .captch-txt{width:400px;}
.ie7 .submit-btn{padding-top:0;padding-bottom:0;}
.ie7 .con-submit{line-height:25px;}
.ie7 .con-address{margin-bottom:-20px;}
.ie7 .con-form{width:510px;}
.ie7 .con-txt input[type="text"], .ie7 .con-txt input[type="tel"], .ie7 .con-txt textarea{width:335px;}
.ie7 .con-txt input.con-captcha{width:160px;}
.ie7 .order-tracking{margin-bottom:30px;}
.ie7 .coupon{width:132px;padding:2px 10px;}
.ie7 .cart-more{width:97px;}
.ie7 .cart-left{width:38%;}
.ie7 .chkout-txt{width:224px;}
.ie7 .chkout-btn{width:170px;padding:5px 8px;}
.ie7 .cart-right{width:430px;}
.ie7 .oredr-title{width:1186px;padding:0 7px;line-height:38px;height:38px;}
.ie7 .oredr-title img{margin-top:-28px;}
.ie7 .left-order ul li input.order-txt{width:538px;}
.ie7 .left-order ul li .text-area{width:530px;}
.ie7 .form-inner{width:1170px;}
.ie7 .pay-type{display:inline;}
.ie7 .palce-order{width:181px;padding:0 20px;}
.ie7 .bouquet-btn{width:200px;padding:7px 20px;}
.ie7 .ros-box{padding-bottom:40px;}
.ie7 .ros-box li{width:110px;}
.ie7 .order-preview h1{line-height:35px;}
.ie7 .pay-now input{text-align:center;padding:0;margin:0;}
.ie7 .buy-now{padding:0;}
.ie7 .small-info{width:354px;}
.ie7 .popup-img img{position:relative;}
.ie7 .popup-content ul li{width:140px;}
.ie7 .popup-btn{width:300px;}
.ie7 .top-column{width:1180px;}
.ie7 .search-title{margin-top:6px;}
.ie7 .key-word{padding-bottom:0;}
